html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

body {
  background-color: rgb(141, 13, 13);
}

.container {
  background-color: #CCC;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 70px 1fr 1fr;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {  
}