html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  display: grid;
  grid-template-rows: 30px 1fr;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #7bebff;
  align-content: center;
}

.logo {
  padding-left: 5px;
}

.header-main {

}

.search {
  align-self: center;
  padding-right: 5px;
}

.search input {
  border-radius: 5px;
  color: rgb(134, 134, 134);
  border: 1px solid #FFF;
  border-radius: 8px;
  background: honeydew;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding-left: 5px;
}

.search input:focus{
  outline: 0;
  padding-left: 5px;
}

.search .input-placeholder{
  background-color: #eee;
  display: inline-block;
  padding: 10px;
}

.main {
  background-color: #FFF;
  min-height: 95vh;
  max-height: 95vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
}

/*---------------------------------/
/ GDB                              /
/---------------------------------*/
.gdb-container {
  border: 1px dotted #b1b1b1;
}