@import url('https://fonts.googleapis.com/css?family=Lobster'); 

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  display: grid;
  grid-template-rows: 30px 1fr;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  background-color: #dadada;
  align-content: center;
}

.logo {
  padding-left: 5px;
}

.header-main {

}

.header-add {
  margin-right: 3px;
  color: rgb(134, 134, 134);
}

.search {
  align-self: center;
  padding-right: 5px;
}

.gdbListContainer {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 20px 1fr;
  grid-gap: 5px;
}

.GDBtotal {
  grid-column: 1 / 3;
  justify-self: right;
}

.GDBList {
  grid-column: 2;
}

.gdb-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 10px;  
  border-top-left-radius: 20px;
}

.gdb-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: aquamarine;
  border-top-left-radius: 20px;
}

.gdb-main {
  display: grid;
}

.gdb-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: aquamarine;
}

.gdb-customer, .gdb-createdBy, .gdb-creationDate, .gdb-status, .gdb-gdbno {
  font-family: 'Lobster', cursive;
}

.gdb-customer, .gdb-createdBy {
  padding-left: 10px;
}

.gdb-creationDate, .gdb-status {
  grid-column: 2/3;
  justify-self: right;
  padding-right: 10px;
}

.gdb-gdbno {
  justify-self: center;
  font-size: 3em;
}

.search input {
  border-radius: 5px;
  color: rgb(134, 134, 134);
  border: 1px solid #FFF;
  border-radius: 8px;
  background: honeydew;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding-left: 5px;
}

.search input:focus{
  outline: 0;
  padding-left: 5px;
}

.search .input-placeholder{
  background-color: #eee;
  display: inline-block;
  padding: 10px;
}

.main {
  background-color: #FFF;
  min-height: 95vh;
  max-height: 95vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
}

/*---------------------------------/
/ GDB                              /
/---------------------------------*/
.gdb-container {
  border: 1px dotted #b1b1b1;
}